# add me to /etc/nginx/sites-available
server {
    listen 80;
    server_name cdn.jupyter.org jupyter.scdn1.secure.raxcdn.com un-cdn.jupyter.org;

    error_log /var/log/nginx/error.log;

    root /srv/cdn.jupyter.org;

    location / {
      add_header 'Access-Control-Allow-Origin' '*';
    }
}

server {
    listen 443;
    server_name cdn.jupyter.org un-cdn.jupyter.org;

    ssl on;
    ssl_certificate /etc/ssl/jupyter.org.crt;
    ssl_certificate_key /etc/ssl/jupyter.org.key;

    ssl_ciphers "AES128+EECDH:AES128+EDH";
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    add_header Strict-Transport-Security "max-age=63072000; includeSubDomains";
    add_header X-Content-Type-Options nosniff;
    ssl_stapling on; # Requires nginx >= 1.3.7
    ssl_stapling_verify on; # Requires nginx => 1.3.7
    resolver_timeout 5s;

    error_log /var/log/nginx/error.log;

    root /srv/cdn.jupyter.org;

    location / {
      add_header 'Access-Control-Allow-Origin' '*';
    }
}
