# add me to /etc/nginx/sites-available

server {
    error_log /dev/stdout info;
    access_log /dev/stdout;

    listen 80 default_server;
    server_name cdn.jupyter.org un-cdn.jupyter.org;

    root /srv/cdn.jupyter.org;

    location / {
      add_header 'Access-Control-Allow-Origin' '*';
    }
}
